Pygments==2.20.0
attrs==26.1.0
certifi==2026.6.17
charset-normalizer==3.4.9
html5rdf==1.2.1
idna==3.18
iniconfig==2.3.0
jsonschema-specifications==2025.9.1
jsonschema==4.26.0
owlrl==7.6.2
packaging==26.2
pluggy==1.6.0
prettytable==3.18.0
pyparsing==3.3.2
pyshacl==0.40.0
pytest==9.1.1
PyYAML==6.0.3
rdflib==7.6.0
referencing==0.37.0
requests==2.34.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==2026.6.3
ruff==0.14.14
six==1.17.0
urllib3==2.7.0
wcwidth==0.8.2
